<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slangopedia</title>
    {% for item in scripts %}
        {{ item|safe }}
    {% endfor %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.2.min.css">
</head>
<body>
    <nav>
        <a href="/index">Home</a> |
        <a href="/linguistics">Linguistics</a> |
        <a href="/social">Social Dimensions</a> |
        <a href="/sentimentemotion">Sentiment and Emotion</a> |
        <a href="/trends">Trends Over Time</a> |
        <a href="/search">Search</a>
    </nav>

    <div id="home" style="height: 500px;">
        <h2>Trends Section</h2>
        This page will explore trends of slang on Urban Dictionary. Check out some visualizations below!
        <div>
            <div>{{graph1|safe}}</div>
            <div>{{graph2|safe}}</div>
        </div>
        <div>
            {% for item in divs %}
                {{ item|safe }}
            {% endfor %}
        </div>
    </div>
</body>
</html>